[submodule "bare_f1xx/Drivers/CSP"]
	path = bare_f1xx/Drivers/CSP
	url = https://github.com/Deadline039/STM32F1xx-HAL-CSP.git
[submodule "freertos_f1xx/Drivers/CSP"]
	path = freertos_f1xx/Drivers/CSP
	url = https://github.com/Deadline039/STM32F1xx-HAL-CSP.git
[submodule "bare_f4xx/Drivers/CSP"]
	path = bare_f4xx/Drivers/CSP
	url = https://github.com/Deadline039/STM32F4xx-HAL-CSP.git
[submodule "freertos_f4xx/Drivers/CSP"]
	path = freertos_f4xx/Drivers/CSP
	url = https://github.com/Deadline039/STM32F4xx-HAL-CSP.git
[submodule "bare_g4xx/Drivers/CSP"]
	path = bare_g4xx/Drivers/CSP
	url = https://github.com/Deadline039/STM32G4xx-HAL-CSP.git
[submodule "freertos_g4xx/Drivers/CSP"]
	path = freertos_g4xx/Drivers/CSP
	url = https://github.com/Deadline039/STM32G4xx-HAL-CSP.git
[submodule "bare_h7xx/Drivers/CSP"]
	path = bare_h7xx/Drivers/CSP
	url = https://github.com/Deadline039/STM32H7xx-HAL-CSP.git
[submodule "freertos_h7xx/Drivers/CSP"]
	path = freertos_h7xx/Drivers/CSP
	url = https://github.com/Deadline039/STM32H7xx-HAL-CSP.git
